.button-primary {
    padding: 0px 10px 0px 10px;
    height: 35px;
    background-color: var(--color-primary);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    font-weight: bold;
    color: #f8f8f8;
}